.meterWrapper {
    --size: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--size) / 1.2);
    padding: 1em;
}

.block {
    --bg: #CA4E79;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #FFF9CA;

    background: var(--bg);
    filter: drop-shadow(0 0 2px var(--bg));
}