.workerWrapper {
    --borderColor: #DDD;

    border: 1px solid var(--borderColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}